@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
    background: white;
}

.container{
    display: flex;
    align-items: center;
    justify-content:center;
    min-height: 90vh;
}

.box{
    background: rgba(251, 251, 251, 0.823);
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 10px;
}

.form-box{
    width: 450px;
    margin: 0px 10px;
}

.form-box .login .signup{
    font-size: 25px;
    font-weight: 300;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.form-box p{
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    outline: none;
}

.btn{
    height: 35px;
    background:rgb(90, 160, 200);
    border:0px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all .2s;
    margin-top: 10px;
    padding: 0px 10px;
}

.btn:hover{
    opacity: 0.75;
}

.submit{
    width: 100%;
}

.links{
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


/* Dashboard */

/* Header */
.header {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    box-sizing: border-box;
}

.header .logo {
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.header .logo a {
    text-decoration: none;
    color: black;
}

.header .logo i {
    color: darkblue;
}

.header .date {
    flex: 1;
    text-align: center;
}

.header .right-links {
    display: flex;
    align-items: center;
}

.header .right-links a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

.header .btn {
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Header */

/* Side-bar*/
.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-top: 0px;
    position: fixed;
}

.sidebar-item {
    padding: 15px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.sidebar-item i {
    margin-right: 10px;
}

.sidebar-item:hover {
    background-color: #575757;
}

/* content */

.table-container {
    margin-top: 20px;
}

.message{
    text-align: center;
    background:lightblue;
    padding: 15px  0px;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 10px;
    color:rgb(46, 39, 39);
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    margin-left: 200px; 
    margin-top: 40px; 
    display: flex;
    flex-direction: column;
    
}
/* foodList*/

table {
    width: 100%;
    border-collapse: collapse;
}

.foodList {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
}

.foodList thead th {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    font-size: 15px;
}

th, td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
}

tr:hover td {
    color: darkblue;
    cursor: pointer;
    background-color: #ffffff;
}

td button, td .delete-btn {
    border: none;
    padding: 5px 5px;
    border-radius: 5px; 
    color: black;
    cursor: pointer; 
}


/* foodList*/

/* content */
/* footer */

footer{
    height: 35px;
    margin: 10px 10px ;
}

footer p{
    text-align: center;
    padding: 1em 0;
}

/* footer */



@media only screen and (max-width:840px){
    .main-box .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top .box{
        margin: 10px 10px;
    }
    .bottom{
        margin-top: 0;
    }
}
